*.DS_Store
*__pycache__*
.ipynb_checkpoints

# virtual environment
venv

# data
data/*

# GPT-2 baseline data and checkpoints
models/gpt2_baseline/gpt2_dst/save/

# KAIST data and checkpoints
models/KAIST_BART_based/data
models/KAIST_BART_based/multi_task/

# UNITER-based data and checkpoints
models/uniter_based/data
models/uniter_based/processed/*
models/uniter_based/pretrained/*
models/uniter_based/model/Transformers_VQA_master/models/pretrained/*
models/uniter_based/result/
models/uniter_based/trained

# BART only Coreference Resolution data
models/bart_coref/data
models/bart_coref/coref_models