*.DS_Store
*__pycache__*
.ipynb_checkpoints

# virtual environment
venv

# data
data/simmc2_*
data/*_metadata_*

# GPT-2 baseline data and checkpoints
models/gpt2_baseline/gpt2_dst/save/

# KAIST data and checkpoints
models/KAIST_BART_based/data
models/KAIST_BART_based/multi_task/

# UNITER-based data and checkpoints
models/uniter_based/processed/*
models/uniter_based/pretrained/*